* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 1.1em;
    font-family: "El Messiri", sans-serif;
}


header {
    background-color: rgb(168, 70, 70);
    min-height: 100px;
    text-align: center;
}
footer {
    background-color: rgb(58, 23, 23);
    color: aliceblue;
    padding: 20px 40px;
}
#about{
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    text-align: center;
}
#articles{
    background-color: rgb(219, 218, 218);
    padding: 20px 40px;
}
p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    font-size: 2rem;
}
h1{
    font-size: 2.5rem;
    color: #000000;
}

#content{
    padding: 20px 40px;
    background-color: aliceblue;
}



a { color: black;
    text-decoration: none;
    

}

footer a:hover {
    color: white;
    
}

header a:hover {
    color: white;
    text-decoration: underline;

}

a:hover {
    color: brown; 
    text-decoration: underline; 
}

a:focus {
    outline: 2px solid black; 
    outline-offset: 2px; 
    background-color: black; 
}

article p::first-line {
    letter-spacing: 10px; 
    word-spacing: 5px; 
}

p [lang="ru"] {
    font-style: italic; 
    font-family: 'Times New Roman', serif;
    color: brown;
}

.intro p {
    color: #424242; 
    background-color: #fafafa; 
    padding: 10px;
    border-left: 10px solid black; 
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    color: rgb(121, 14, 0);
    margin-bottom: 30px;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    color: rgb(247, 243, 240);
    margin-bottom: 20px;
    text-decoration: overline;
}

h3 {
    color: #1b1b1b;
    margin-top: 40px;
    font-style: italic;
}

h4 {
    color: #ffffff5e;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;

}

nav a:hover {
    color: #ffffff;
}

nav a:focus {
    color: rgb(255, 255, 255);
}

#articles li a:hover,
#articles li a:focus {
    color: #ffffff;
    text-decoration: none;
}

#articles li:nth-child(odd) {
    background-color: #f1aeae;
   
}

#articles li:nth-child(even) {
    background-color: #f38080;
}

#articles li.metka::after {
    content: "Важно! ";
    font-size: 0.7rem;
    background-color: #000000;
    color: #fffdfd;
    border: 1px solid #b93d3d;
    border-radius: 50px;
    padding: 2px 6px;
    margin-left: 20px;
    font-weight: bold;
}

.content1::first-line {
    letter-spacing: 0.4rem;
}

p:lang(en) {
    font-style: italic;
    color: #800c0c;
}

#about h2 {
    color: #ffffff;
    background-color: #722d2a;
    padding: 10px 10px;
}

footer img {
    border: #ffffff solid 3px;
    border-radius: 50px;
}

img+p {
    margin-top: 60px;
}

h1,
h2,
h3,
h4 {
    font-size: 1.7em;
    line-height: 3rem;
    font-family: "Cormorant Garamond", Nunito;
}

td:first-child { background-color: #ffc5c5; }  

tr:nth-child(even) { background-color: #b15555; }
tr:nth-child(odd) { background-color: #ffffff; }



.table-example {
    border: 5px rgb(15, 15, 15) solid;
    border-collapse: collapse;
    border: 4px solid rgb(0, 0, 0);
    margin: 60px 40px;
}

.table-example thead {
    background-color: #ffffff;
}

.table-example td,
.table-example th {
    border: #000000 2px solid;
    border-bottom: 2px rgb(0, 0, 0) solid;
    padding: 5px 15px;
}

.table-example tr:nth-child(even) {
    background-color: #e09994;
}

.table-example td:first-child {
    text-align: center;
    background-color: #ce6464;
}

.table-example tr:last-child td:last-child {
    background-color: #ee5959;
}

#contact-form input[type="text"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: #e0e0e0 2px solid;
    background-color: #ffffff;
    border-radius: 8px;
    
}

#contact-form input[type="submit"] {
    background-color: rgb(165, 75, 75);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 100px;
    height: 30px;
}

#contact-form input[type="submit"]:hover{
    background-color: #d37e79;
       
}

#contact-form textarea {
    background-color: #ffffff;
    padding: 5px 10px;
    border: 2px solid #e0e0e0;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 300px;
    margin: 0%;
}


#contact-form input[type="tel"]{
    width: 50%;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
    
}

#contact-form input[type="date"]{
    width: 50%;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
    
}

#contact-form input[type="email"]{
    width: 50%;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
    
}

#contact-form [type="topic"]{
    width: 50%;
    padding: 2px;
    border: 2px;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #db7272;
    
    
}

#contact-form {
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    }

    

    









        






/* body {
    background-color: black;
}
div {background-color: aliceblue;
width: 300px;
min-height: 100px;
border: solid 5px rgb(94, 21, 97);
padding: 10px 30px 60px 100px;
margin: 50px;
} */
